body{
    margin:0;
    padding:0;
}
.button{
    color:white;
    text-decoration: none;
    background-image: linear-gradient(red,rgb(236, 87, 112));
    padding:10px 20px;
    border-radius:10px;
}
.orange{
    color:orange;
}
.one{
    display:flex;
      
}
.A{
    width:100%;
    padding-left:15%;
    
}
.person img{
    width:300px;
    height:300px;
}
.two{
    margin-top: 100px;
}
.my{
    text-align: center;
}
.mission{
    width:250px;
    background-color:papayawhip ;
    padding:0 25px;
    border-radius: 20px;
}
.vision{
    width:250px;
    background-color:palegreen ;
    padding:0 25px;
    border-radius: 20px;
}
.mission-img{
    width:55%;
}
.three{
    display: flex;
    margin-top: 50px;
    justify-content:space-evenly;
}
.goals{
    width:250px;
    background-color:powderblue ;
    padding:0 25px;
    border-radius: 20px;
}

.footer{
    color:white;
    text-align:center;
    background-color:black;
    padding: 20px;
    margin-top:150px;
}
.four{
    display:flex;
    width:80%;
    padding-top: 150px;
}
.five{
    display:flex;
    width:80%;
    padding-top: 150px;
}
.align{
    text-align: justify;
    
}
.font{
    font-family: 'Comforter', cursive;
    font-family: 'Dancing Script', cursive;
}

